.wrapper {
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
   position: relative;
   /*background-color: linen;*/
   /*background-color: rgba(72,147,158, .2);*/
   /*background: rgba(240,217,104,1);
background: -moz-linear-gradient(top, rgba(240,217,104,1) 0%, rgba(70,225,252,0.26) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,217,104,1)), color-stop(100%, rgba(70,225,252,0.26)));
background: -webkit-linear-gradient(top, rgba(240,217,104,1) 0%, rgba(70,225,252,0.26) 100%);
background: -o-linear-gradient(top, rgba(240,217,104,1) 0%, rgba(70,225,252,0.26) 100%);
background: -ms-linear-gradient(top, rgba(240,217,104,1) 0%, rgba(70,225,252,0.26) 100%);
background: linear-gradient(to bottom, rgba(240,217,104,1) 0%, rgba(70,225,252,0.26) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0d968', endColorstr='#46e1fc', GradientType=0 );*/
}

header {
  text-align: center;
  width: 100%
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.back {
  color: black;
  display: block;
  position: relative;
  top: 3em;
  left: 10%;
  text-align: left;
}

.back a {
  color: black;
  text-decoration: none;
}

.back a:hover {
  color: #E0A210;
  font-weight: bold;
}

.logo {
  color: #ffffff;
  padding: 15px;
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

.logo2 {
  color: #000000;
}

img {
  width: 24px;
  height: 24px;
  position: relative;
  top: 0.4em;
  left: 0.2em;
}

nav {
  background-color: #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  text-align: center;
  width: 100%;
  /*margin-bottom: 5px;*/
}

nav ul {
  margin: 0 ;
}

nav a {
  color: #9B9B9B;
  text-decoration: none;
  font-weight: 100;
}

nav a:hover {
  font-weight: bold;
}

.nav-list {
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin: 0 30px;
  text-align: center;
  min-width: 13%;
  font-weight: 100;
}

.nav-list:hover,
.nav-list:active {
  border-bottom: 3px solid #E0A210;
  color: #E0A210;
  font-weight: bold;
}

.course {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  margin: 5px auto;
}

.course2 {
  color: #E0A210;
}

.main-container {
  background: url(images/perserverance1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -99;
  opacity: 0.8;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.quote {
  margin: 0 auto;
  padding: 0;
  width: 30%;
  color: #ffffff;
  position: absolute;
  left: 55%;
  top: 40%;
  font-size: 2em;
  font-family: 'Times new roman';
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 500;
}

.screenshot,
.title,
.description,
.repo,
.site {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

.screenshot {
  width: 70%;
  height: 50%;
  border: 1px solid black;
  margin: 30px auto;
}

.title {
  font-size: 1.5em;
  margin: 20px auto 10px auto;
}
.description {
  width: 50%;
  margin: 30px auto;
  font-weight: normal;
}

.site a,
.repo a {
  display: inline-block;
  border: 6px double #ffffff;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 20px;
  background-color: #000000;
}

.site a:hover,
.repo a:hover {
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  border-color: #000000;
}
